table {
  font-family: consolas, Times New Roman, arial, sans-serif;
  /*border-collapse: collapse;*/
  width: 50%;
}

h1,h2,h4 {
  font-family: consolas, Times New Roman, arial, sans-serif;
}	

h3 {
  font-family: consolas, Times New Roman, arial, sans-serif;
  color: green;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-decoration: bold;
  background-color: #4d2e00;
  color: white;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-decoration: bold;
}

tr:nth-child(even) {
  background-color: #ffd699;
}

a:link {
  text-decoration: none;
}

a:visited {
  /*color: green;*/
  text-decoration: none;
}

a:hover, a:active {
  /*color: black;*/
  text-decoration: underline;
}
